<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adi.weatherapiapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherApiApp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".DetailHistory"
            android:exported="true" />
        <activity
            android:name=".DetailForecast"
            android:exported="true" />
        <activity
            android:name=".History"
            android:exported="true" />
        <activity
            android:name=".Forecast"
            android:exported="true" />
        <activity
            android:name=".AirQuality"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>